.container {
    // max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
    transition: all 400ms ease-out;
    // border: 1px solid red;

    @media (min-width: $breakpoint-sm) {
        width: 540px;
        //border: 1px solid red;  
    }

    @media (min-width: $breakpoint-md) {
        width: 720px;
        //border: 1px solid blue;  
    }

    @media (min-width: $breakpoint-lg) {
        width: 960px;
    }

    @media (min-width:$breakpoint-xl) {

        width: 1140px;
    }

}