.pagina-portifolio {
    //width: 102%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    //margin-left: -15px;
    overflow: auto;
    transition: all 400ms ease-out;
    z-index: 2;
}

.lista-trabalhos {
    list-style: none;
    padding: 0;
    overflow: hidden;



    &__item {
       // margin-left: -25px;
       // margin-right: -25px;
        margin-bottom: 50px;


    }

    &__item a {
        text-decoration: none;
    }

    &__titulos {
        color: black;
        font-size: 18px;
        margin-left: 15px;

        padding-left: 15px;
        content: "";
            border-left: 2.5px solid black;
            padding-left: 5px;

       
    }
    
    @media(max-width: $breakpoint-md) {

        &__img{
            width: 100%;
            height: auto;
        }
        
    }

    @media(min-width: $breakpoint-md) {



        &__item {
            margin: auto;
            float: left;
            width: 50%;
            // margin-left: 5px;
            height: auto;
           


        }

        &__img {

        

        }



    }

    @media(min-width: $breakpoint-lg) {



        &__img {
            margin: 0;
            opacity: 1;
            height: 100%;
            width: 100%;


        }


        &__item {
            margin-left: 0px;
            margin: 0;
            float: left;
            width: 33.333%;
            height: auto;
            position: relative;
            background-color: $cor-principal;
            margin-bottom: -3px;

            &:hover {

                .lista-trabalhos__img {
                    opacity: 0.1;
                }

                .lista-trabalhos__titulos {
                    opacity: 1;
                }


            }
        }


        &__titulos {
            font-size: 22px;
            width: 100%;
            margin: 0 auto;
            padding: 0%;
            border: none;
            position: absolute;
            top: 35%;
            text-align: center;
            color: #fff;
            background: url(imagens/img/icone-olho.png) no-repeat bottom center;
            padding-bottom: 35px;
            opacity: 0;




        }



    }
}